/* common rules */

.debug{
    /* background-color: #0061FF; */
    /* border: 2px dashed green; */
}

*{
    font-family: "Noto Sans", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.boxed{
    display: flex;
}

input{
    color: rgb(255, 255, 255);
    background-color: #0061FF;
    padding: 0.4rem 1rem;
    border: none;
    cursor: pointer;
}

.widpag{
    width: 60rem;
    margin: auto;
    min-height: 10rem;
    margin-top: 8rem;
    background-color: pink;
    border: 2px dashed green;
}


/* mavbar */
/* SX */
nav{
    background-color: white;
    width: 100vw;
    height: 4rem;
    justify-content: space-between;
    position: fixed;
    top: 0;
}

header{
    background-color: #B4D0E7;
    height: 45rem;
}

.head{
    align-items: center;
    gap: 1rem;
}

.sx{
    width: 55vw;
}

.sx div{
    height: 100%;
}

.logo{
    padding: 1rem;
    width: 12rem;
    height: 100%;
}

.logo img{
    width: 100%;
}

.links a{
    padding: 1rem;
    text-decoration: none;
    color: rgb(37, 37, 37);
}
/* DX */
.dx{
    width: 50vw;
    justify-content: flex-end;/
}

.dx div{
    height: 100%;
}
    
.btn>input{
    margin: 1rem 2rem 1rem 0.4rem;
}
/* header */
/**************************** sec-1 ***********************/
main{
    padding-top: 5rem;
}

.sec-1{
    max-width: 80rem;
    margin: auto;
}

.sec-1-titolo{
    font-weight: 900;
    margin-top: 4rem;
    font-size: 5rem;
    padding: 5rem 1rem 1rem;
}
.sec-1-paragraf{
    font-weight: 500;
    width: 76%;
}
.sec-1-paragraf div,
.sec-1-img{
    padding:1rem;
}
.sec-1-img>img{
    width: 100%;
}

header i{
    font-size: 2rem;
    padding-top: 2rem;
}
/************* main ***************/
/****************************** sec-2 ************************/
.sec-2{
    /* width: 50%; */
    min-height: 60rem;
    margin: auto;
    margin-top: 5rem;
}

.sec-2-titolo{
    font-size: 2.2rem;
    font-weight: 700;
    padding: 1rem;
}
.sec-2-label{
    padding: 2rem 0;
}

label{
    padding: 1rem 0 0 0;
}

/************************ tabelle sec2 ****************/
.sec-2-piani{
    justify-content: space-between;
}

.piano{
    width: calc(100% / 3 - 2rem);
}

.testa{
    text-align: center;
    padding: 0.5rem;
    border:1px solid rgb(139, 139, 139);
    border-bottom: none;
}

.corpo{
    height: 52rem;
    line-height: 1rem;
    padding: 1rem;
    border:1px solid rgb(139, 139, 139);
}

.s1>.nome{
    line-height: 4rem;
    font-weight: 700;
    font-size: 1.5rem;
}
.s1>.prezzo{
    font-weight: 700;
    font-size: 1rem;
}
.s1>p{
    line-height: 2.5rem;
}

.s2{
    font-size: 0.9rem;
    margin: 2rem 0;
}

.s2>div,
.s5>div{
    margin: 1rem 0;
}

.s2 i,
.s5 i{
    padding-right: 0.5rem;
}

.s3{
    text-align: center;
}
.s3>input{
    text-wrap: wrap;
    margin: 0 auto;
    width: 12vw;
    padding: 0.4rem 2rem;
}
.s4{
    font-size: 0.9rem;
    padding: 1.5rem 0 2rem;
}

hr{
    width: 3.5rem;
}

.s5{
    font-size: 0.9rem;
}

.s5 div:first-child{
    padding: 2rem 0;
    font-weight: 700;
    font-size: 0.9rem;
}
.s5 i{
    color:#0961FF ;
}

.piano-team{
    margin-top: 2.5rem;
    width: 100%;
}

.t-s2{
    font-size: 0.9rem;

}

.t-sx{
    width: 70%;
    /* background-color: aqua; */
}
.t-dx{
    text-align: center;
    width: 30%;
    /* background-color: aquamarine; */
}

.t-sx div{
    margin: 0.5rem 0;
}
.t-sx .boxed{
    margin: 2rem 0;
}

.t-dx input{
    margin: 2rem 0;
    padding: 0.5rem 2rem;
}

.t{
    height: 17rem;
}
/****************************** sec 3***************************/

.sec-3{
    /* background-color: bisque; */
    /* border: 2px dashed green; */
    min-height: 30rem;
    margin: auto;
    margin-top: 10rem;
}

.sec-3-a{
    width: 60%;
    /* color: aqua; */
    /* border: 2px dashed darkorchid; */
}

.sec-3-a>img{
    width: 100%;
}

.sec-3-b{
    padding: 3rem;
    width: 40%;
}                       
.sec-3-b p{
    padding: 2rem 0;
}

.sec-3-b input{
    color: rgb(27, 27, 27);
    background-color: white;
    border: 1px solid  rgb(70, 70, 70);
}

/********************** sec 4 ******************/

.sec-4{

}

.sec-4 .titolo{
    font-weight: 700;
    font-size: 2.5rem;
    /* border: dashed 2px red; */
    line-height: 6rem;
}

.sec-4-b{
    flex-wrap: wrap;
    justify-content: space-between;
}


.sec-4-b>div{
    width: calc(100% / 3 - 2rem);
    border: dashed 2px red;
    /* background-color: gre\en; */
    min-height: 25rem;
    margin-top: 2rem;
}
.img img{
    width: 100%;
}
.sec-4 .img{
    width: 100%;
    /* background-color: orange; */
    min-height: 10rem;
}

.sec-4-b h2{
    margin-bottom: 1.5rem;
}

/***************************sec 5 **********************************/


